
body
{
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1
{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  text-shadow: 2px 2px 10px #66BFBF;
}
h2
{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3
{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 6px;
  height: 0;
  width: 4%;
  margin: 100px auto;
}
p{
    margin: 0;
    color: #40514E;
}
a:hover{
  color: #EAF6F6;
}
.top-container {
  margin: 0;
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 250px;
}
.profile{
  margin: 100px auto 100px auto;
  width: 30%;
  text-align: center;
  line-height: 2;
}
.profile-pic{
  height: 150px;
  width :150px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.lead-pic{
  width :25%;
  float: left;
  margin-right: 30px;
}
.pdd-pic{
  width :25%;
  float: right;
  margin-left: 30px;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  margin: 0;
  background-color: #66BFBF;
  position: relative;
  padding: 50px 0 20px;
  line-height: 3;
}
.contact-me{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: center;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.contact-msg{
  width: 50%;
  margin: 40px auto 60px;
}
.copy-right{
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.65rem;
  padding: 10px 0 5px 0;
}
